<ion-content>

    <ion-item>
        <ion-label color="dark"><strong>Select {{ type }} A/c</strong></ion-label>
    </ion-item>

    <ion-grid>

        <ion-row>

            <ion-col>
                <ion-list lines="none" class="main-container scroll">

                    <ion-item *ngFor="let account of accountList" button="true" type="button"
                              (click)="accountSelected(account)">
                        <ion-label>
                            {{ account.name }}
                        </ion-label>
                        <!--<ion-note slot="end">$7,980</ion-note>-->
                    </ion-item>

                </ion-list>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col size="12" class="ion-align-self-end model-footer">

                <ion-button (click)="cancelModal()" expand="full" fill="clear" color="medium">Cancel</ion-button>

            </ion-col>

        </ion-row>


    </ion-grid>

</ion-content>
