<ion-content>

    <ion-item>
        <ion-label class="modal-title" color="dark">
            <strong>Select {{ accountType | titlecase }}</strong>
        </ion-label>
    </ion-item>

    <ion-grid class="p-0">

        <ion-row>

            <ion-col class="p-0">
                <ion-list lines="none" class="main-container scroll">

                    <ion-item *ngFor="let account of accountList" button="true" type="button" (click)="accountSelected(account)">
                        <ion-label>
                            {{ account.name }}
                        </ion-label>

                        <ion-icon color="selected" src="../../../assets/icon/selected.svg" *ngIf="selectedItem && selectedItem.uniqueName === account.uniqueName"></ion-icon>
                    </ion-item>

                </ion-list>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col size="12" class="ion-align-self-end model-footer">

                <ion-button (click)="next()" class="ion-float-right btn-text" fill="clear" color="selected" [disabled]="!selectedItem">Next
                </ion-button>
                <ion-button (click)="cancelModal()" class="ion-float-right btn-text-gray" fill="clear" color="medium">Cancel
                </ion-button>

            </ion-col>

        </ion-row>

    </ion-grid>

</ion-content>