<ion-content>

    <ion-item>
        <ion-label color="dark"><strong>Select {{ accountType | titlecase }}</strong></ion-label>
    </ion-item>

    <ion-grid>

        <ion-row>

            <ion-col>
                <ion-list lines="none" class="main-container scroll">

                    <ion-item *ngFor="let account of accountList" class=""
                              (click)="accountSelected(account)">
                        <ion-label>
                            {{ account.name }}
                        </ion-label>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="ion-align-self-end model-footer">

                <ion-button (click)="cancelModal()" class="ion-float-right" fill="clear" [color]="entryType">Next</ion-button>
                <ion-button (click)="cancelModal()" class="ion-float-right" fill="clear" color="medium">Cancel</ion-button>

            </ion-col>

        </ion-row>

    </ion-grid>

</ion-content>
