<ion-content>

    <ion-item [color]="actionType">
        <ion-text>{{ 'addAmount' | translate }}</ion-text>
    </ion-item>

    <ion-item>
        <ion-input type="text" appDecimalDigitsDirective name="amount" [(ngModel)]="amount"
                   (ionFocus)="focusOnInput()"></ion-input>
    </ion-item>

    <ion-item>

        <ion-buttons slot="end">

            <ion-button (click)="cancelModal()">Cancel</ion-button>
            <ion-button [color]="actionType" (click)="onAmountAdded()">Done</ion-button>

        </ion-buttons>

    </ion-item>

</ion-content>
