<ion-content>

    <ion-item>
        <ion-label>Select Action</ion-label>
    </ion-item>

    <ion-card *ngFor="let a of [1, 2, 3]" class="ion-padding">

        <ion-card-content>
            <ion-row class="ion-justify-content-center">

                <ion-col>
                    <div>
                        1 of 2
                    </div>
                </ion-col>

            </ion-row>

            <ion-row class="ion-justify-content-center">

                <ion-col>
                    <div>
                        2 of 2
                    </div>
                </ion-col>
            </ion-row>

        </ion-card-content>

    </ion-card>

</ion-content>
