<ion-content>

    <div class="login">
        <a class="logo" href="/"><img src="./assets/giddh-logo-white.png"></a>
        <h3 class="mb-3 ion-text-center"><strong> Login to your secure accounting space</strong></h3>
        <br/>
        <div class="login-form">

            <form [formGroup]="loginWithPasswordForm">
                <ion-input type="email" placeholder="Email Id" formControlName="uniqueKey"
                           class="form-control"></ion-input>
                <ion-input type="password" placeholder="Password" formControlName="password"
                           class="form-control"></ion-input>
            </form>
            
            <ion-button (click)="login()" class="btn btn-success btn-lg btn-block" expand="block">
                Login
            </ion-button>

            <ion-button (click)="forgotPassword()">Forgot Password</ion-button>

            <!--            <a href="javascript:void(0)" type="butotn" class="btn-google btn-block mt-3" routerLink="/">-->
            <!--                <span><img src="assets/google_ico.svg" alt=""></span>-->
            <!--                Login with Google-->
            <!--            </a>-->

        </div>
    </div>

</ion-content>
