.my-custom-modal-css .modal-wrapper {
  height: 20%;
  top: 80%;
  position: absolute;
  display: block;
}
ion-card {
  border-width: 1px 1px 3px 3px !important;
  margin: 10px 15px 20px;
  padding: 15px 10px 4px;
  box-shadow: none;
  &:hover{
    box-shadow: 0px 6px 5px #0000002e;
  }
}

ion-item {
  --inner-border-width: 0;
}
ion-text {
  font-size: 18px;
}
ion-card-content {
  padding: 0;
}
.heading {
  font-weight: 600;
  --color: #333333;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 20px;
}
