<ion-header translucent>

    <ion-toolbar [ngClass]="requestModal?.entryType">

        <ion-buttons class="header-arrow" slot="start" (click)="goToHome()">
            <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
        </ion-buttons>

        <ion-title slot="start">
            <h3 class="header-io">{{ requestModal.entryType | titlecase }}</h3>
            <h4 class="header-value-io">
                {{ requestModal.isMultiCurrencyAvailable ? requestModal.baseCurrencyDetails.symbol : '' }} {{ requestModal?.transactions[0]?.amount
                | myCurrency }}
            </h4>
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <form #entryForm="ngForm" novalidate>
        <ion-list>

            <ion-item>
                <ion-icon class="icon" slot="start" name="calendar" [color]="requestModal.entryType"></ion-icon>
                <ion-label (click)="showDatePicker()" *ngIf="!isWeb">
                    <ng-template [ngIf]="!isWeb">
                        {{ requestModal.entryDate ? (requestModal.entryDate | date: 'dd MMM, yy') : 'Select Date' }}
                    </ng-template>
                </ion-label>

                <ion-label *ngIf="isWeb">
                    <ion-datetime class="date-color" placeholder="{{ 'createEntry.selectDate' | translate }}"
                                  name="entryDate" [(ngModel)]="requestModal.entryDate"
                                  required></ion-datetime>
                </ion-label>


            </ion-item>

            <ion-item button="true" class="font-14" type="button">
                <ion-icon class="icon mt-0" slot="start" name="create" [color]="requestModal.entryType"></ion-icon>
                <ion-textarea placeholder="{{ 'createEntry.writeANote' | translate}}"
                              [(ngModel)]="requestModal.description" name="description"
                              class="mt-22-io"></ion-textarea>
            </ion-item>

            <!-- region attachment -->
            <ion-item>
                <ion-icon class="icon" slot="start" src="../../../../assets/icon/attachment.svg"
                          [color]="requestModal.entryType"></ion-icon>
                <ion-label class="g-color">{{ 'createEntry.attachment' | translate }}</ion-label>
                <ion-icon class="detail-icon" slot="end" src="../../../../assets/icon/detailsArrow.svg"
                          (click)="chooseFile()"></ion-icon>
            </ion-item>

            <ion-item class="inner-item">
                <ion-button class="attachment" color="medium" fill="clear" (click)="captureImage()">
                    <ion-icon name="camera">
                    </ion-icon>
                </ion-button>

                <ion-grid style="overflow-x: auto;">

                    <ion-row nowrap>

                        <ion-col class="img-upload" *ngFor="let file of requestModal.attachedFilesVm; let fileIndex = index">
                            <ion-icon name="close" class="img-close-icon" (click)="removeAttachedFile(fileIndex)" [color]="requestModal.entryType"></ion-icon>
                            <ion-img class="attachmentImg"
                                     (click)="removeAttachedFile(fileIndex)"
                                     [ngClass]="{
                                     attachmentImgBorderSales: requestModal.entryType === 'sales',
                                     attachmentImgBorderDeposit: requestModal.entryType === 'deposit',
                                     attachmentImgBorderExpense: requestModal.entryType === 'expense'
                                      }"
                                     [src]="file"></ion-img>
                        </ion-col>

                    </ion-row>

                </ion-grid>
            </ion-item>

            <input type="file" hidden #webFileInput accept="image/*" ngFileSelect [uploadInput]="uploadInput"
                   (uploadOutput)="webChooseFile($event)"
            />
            <!-- endregion -->

            <!-- region only for sales -->
            <ng-container *ngIf="requestModal.entryType === 'sales'">

                <ion-item>
                    <ion-icon class="icon" slot="start" src="../../../assets/icon/copy.svg"
                              [color]="requestModal.entryType"></ion-icon>
                    <ion-label class="g-color">{{ 'createEntry.receiptMode' | translate }}</ion-label>
                </ion-item>

                <ion-item detail="" class="inner-item" (click)="showPaymentMode()">
                    <ion-label>{{ otherPaymentMode ? otherPaymentMode.name : (requestModal?.particular ? requestModal?.particular.name
                        : 'Select Receipt Mode') }}
                    </ion-label>
                </ion-item>

                <ng-container *ngIf="otherPaymentMode">
                    <ion-item>
                        <ion-icon class="icon" slot="start" src="../../../../assets/icon/account.svg"
                                  [color]="requestModal.entryType"></ion-icon>
                        <ion-label class="g-color">{{ 'createEntry.debtor' | translate }}</ion-label>
                    </ion-item>

                    <ion-item detail="" class="inner-item" (click)="showDebtorCreditor('debtors')">
                        <ion-label>{{ requestModal?.particular ? requestModal?.particular.name : 'Select Debtor' }}</ion-label>
                    </ion-item>
                </ng-container>

            </ng-container>
            <!-- endregion -->

            <!-- region only for expense -->
            <ng-container *ngIf="requestModal.entryType === 'expense'">
                <ion-item>
                    <ion-icon class="icon" slot="start" src="../../../assets/icon/copy.svg"
                              [color]="requestModal.entryType"></ion-icon>
                    <ion-label class="g-color">{{ 'createEntry.paymentMode' | translate}}</ion-label>
                </ion-item>

                <ion-item detail="" class="inner-item" (click)="showPaymentMode()">
                    <ion-label
                            class="boldFont">{{ otherPaymentMode ? otherPaymentMode.name : (requestModal?.particular ? requestModal?.particular.name
                        : 'Select Payment Mode') }}
                    </ion-label>
                </ion-item>

                <ng-container *ngIf="otherPaymentMode">
                    <ion-item>
                        <ion-icon class="icon" slot="start" src="../../../../assets/icon/account.svg"
                                  [color]="requestModal.entryType"></ion-icon>
                        <ion-label class="g-color">{{ 'createEntry.creditor' | translate}}</ion-label>
                    </ion-item>

                    <ion-item detail="" class="inner-item" (click)="showDebtorCreditor('creditors')">
                        <ion-label
                                class="boldFont">{{ requestModal?.particular ? requestModal?.particular.name : 'Select Creditor' }}</ion-label>
                    </ion-item>

                </ng-container>
            </ng-container>

            <!-- endregion -->

            <!-- region only for withdrawal and deposit -->
            <ng-container *ngIf="requestModal.entryType === 'deposit'">
                <ion-item>
                    <ion-icon class="icon" slot="start" src="../../../assets/icon/copy.svg"
                              [color]="requestModal.entryType"></ion-icon>
                    <ion-label class="g-color">{{ 'createEntry.withdrawalFrom' | translate }}</ion-label>
                </ion-item>

                <ion-item detail="" class="inner-item" (click)="showWithdrawalDepositAcc('withdrawal')">
                    <ion-label
                            class="boldFont">{{ requestModal.transactions[0].particular ? requestModal.transactions[0].particular.name : 'Select Withdrawal A/c' }}</ion-label>
                </ion-item>

                <ion-item>
                    <ion-icon class="icon" slot="start" src="../../../assets/icon/copy.svg"
                              [color]="requestModal.entryType"></ion-icon>
                    <ion-label class="g-color">{{ 'createEntry.depositTo' | translate }}</ion-label>
                </ion-item>

                <ion-item detail="" class="inner-item" (click)="showWithdrawalDepositAcc('deposit')">
                    <ion-label
                            class="boldFont">{{ requestModal.particular ? requestModal.particular.name : 'Select Deposit A/c' }}</ion-label>
                </ion-item>
            </ng-container>
            <!-- endregion -->

            <!-- region cheque details -->
            <ng-container *ngIf="isBankAccountSelected">
                <ion-item>
                    <ion-icon class="icon" slot="start" src="../../../assets/icon/copy.svg"
                              [color]="requestModal.entryType"></ion-icon>
                    <ion-label class="g-color">{{'createEntry.Reference/Cheque' | translate}} #</ion-label>
                </ion-item>

                <ion-item class="inner-item" button="true" type="button">
                    <ion-input [(ngModel)]="requestModal.chequeNumber" name="chequeNumber"
                               placeholder="{{'createEntry.Reference/Cheque' | translate}} #"></ion-input>
                </ion-item>
            </ng-container>
            <!-- endregion -->

            <!-- region multi-currency tools -->
            <ng-container *ngIf="requestModal.isMultiCurrencyAvailable">
                <ion-item>
                    <ion-icon class="icon" slot="start" src="../../../../assets/icon/Switch_icon.svg"
                              [color]="requestModal.entryType"></ion-icon>
                    <ion-label class="g-color">{{'createEntry.conversionRates' | translate}}</ion-label>
                </ion-item>

                <ion-item class="inner-item">

                    <ion-item class="inner-t-list">

                        <ion-label>
                            1 {{ activeCurrency === 0 ? requestModal.baseCurrencyDetails.code : requestModal.foreignCurrencyDetails.code }}
                            =
                        </ion-label>

                        <ion-input class="text-box" [(ngModel)]="requestModal.exchangeRate" name="exchangeRate"
                                   type="text" appDecimalDigitsDirective></ion-input>

                        <ion-label class="g-color">
                            {{ activeCurrency === 0 ? requestModal.foreignCurrencyDetails.code : requestModal.baseCurrencyDetails.code }}
                        </ion-label>

                    </ion-item>

                    <ion-item>
                        <ion-button class="btn-tran" (click)="switchExchangeRate()" color="light">
                            <ion-icon name="swap"></ion-icon>
                        </ion-button>
                    </ion-item>

                </ion-item>
            </ng-container>
            <!-- endregion -->

            <ion-item class="ion-padding"></ion-item>

        </ion-list>
    </form>

    <!-- fab placed to the bottom end -->
    <ion-fab class="bg-success" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="createEntry()"
                        [disabled]="entryForm.invalid || createEntryInProcess || isFileUploading">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
