<ion-header translucent>

    <ion-toolbar [ngClass]="requestModal?.entryType">

        <ion-buttons slot="start" (click)="goToHome()">
            <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
        </ion-buttons>

        <ion-title>
            <h3>{{ requestModal.entryType | titlecase }}</h3>
            <h4>
                {{ requestModal.isMultiCurrencyAvailable ? requestModal.baseCurrencyDetails.symbol : '' }}
                {{ requestModal?.transactions[0]?.amount }}
            </h4>
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <form #entryForm="ngForm" novalidate>
        <ion-list>

            <ion-item>
                <ion-icon class="icon" slot="start" name="calendar" [color]="requestModal.entryType"></ion-icon>
                <ion-label>
                    <ion-datetime placeholder="{{ 'createEntry.selectDate' | translate }}" name="entryDate"
                                  [(ngModel)]="requestModal.entryDate" required></ion-datetime>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-icon class="icon mt-0" slot="start" name="create" [color]="requestModal.entryType"></ion-icon>
                <ion-textarea placeholder="{{ 'createEntry.writeANote' | translate }}"
                              [(ngModel)]="requestModal.description" name="description"></ion-textarea>
            </ion-item>

            <!-- region attachment -->
            <ion-item detail="">
                <ion-icon class="icon" slot="start"
                          src="../../../../assets/icon/attachment.svg"
                          [color]="requestModal.entryType"></ion-icon>
                <ion-label>{{ 'createEntry.attachment' | translate }}</ion-label>
            </ion-item>

            <ion-item class="inner-item">
                <ion-button class="attachment" color="medium" fill="clear">
                    <ion-icon name="camera">
                    </ion-icon>
                </ion-button>
                <ion-grid style="overflow-x: auto;">
                    <ion-row nowrap>
                        <ion-col sizeSm="4" sizeLg="1" sizeXl="1" sizeXs="4" sizeMd="6" *ngFor="let a of [1,2,3,4,5,6]">
                            <ion-img src="../../../../assets/icon/alhamdlulillah_1x.png"></ion-img>
                        </ion-col>

                    </ion-row>

                </ion-grid>
            </ion-item>
            <!-- endregion -->

            <!-- region only for sales -->
            <ng-container *ngIf="requestModal.entryType === 'sales'">

                <ion-item>
                    <ion-icon class="icon" slot="start" src="../../../assets/icon/copy.svg"
                              [color]="requestModal.entryType"></ion-icon>
                    <ion-label>{{ 'createEntry.receiptMode' | translate }}</ion-label>
                </ion-item>

                <ion-item detail="" class="inner-item" (click)="showPaymentMode()">
                    <ion-label>{{
                        otherPaymentMode ? otherPaymentMode.name : (requestModal?.baseAccountName ? requestModal?.baseAccountName : 'Select Receipt Mode')
                        }}</ion-label>
                </ion-item>

                <ng-container *ngIf="otherPaymentMode">
                    <ion-item>
                        <ion-icon class="icon" slot="start"
                                  src="../../../../assets/icon/account.svg"
                                  [color]="requestModal.entryType"></ion-icon>
                        <ion-label>{{ 'createEntry.debtor' | translate }}</ion-label>
                    </ion-item>

                    <ion-item detail="" class="inner-item" (click)="showDebtorCreditor('debtor')">
                        <ion-label>{{ requestModal?.baseAccountName ? requestModal?.baseAccountName : 'Select Debtor' }}</ion-label>
                    </ion-item>
                </ng-container>

            </ng-container>
            <!-- endregion -->

            <!-- region only for expense -->
            <ng-container *ngIf="requestModal.entryType === 'expense'">
                <ion-item>
                    <ion-icon class="icon" slot="start" src="../../../assets/icon/copy.svg"
                              [color]="requestModal.entryType"></ion-icon>
                    <ion-label>{{ 'createEntry.paymentMode' | translate}}</ion-label>
                </ion-item>

                <ion-item detail="" class="inner-item" (click)="showPaymentMode()">
                    <ion-label>{{
                        otherPaymentMode ? otherPaymentMode.name : (requestModal?.baseAccountName ? requestModal?.baseAccountName : 'Select Payment Mode')
                        }}</ion-label>
                </ion-item>

                <ng-container *ngIf="otherPaymentMode">
                    <ion-item>
                        <ion-icon class="icon" slot="start"
                                  src="../../../../assets/icon/account.svg"
                                  [color]="requestModal.entryType"></ion-icon>
                        <ion-label>{{ 'createEntry.creditor' | translate}}</ion-label>
                    </ion-item>

                    <ion-item detail="" class="inner-item" (click)="showDebtorCreditor('creditor')">
                        <ion-label>{{ requestModal?.baseAccountName ? requestModal?.baseAccountName : 'Select Creditor' }}</ion-label>
                    </ion-item>

                </ng-container>
            </ng-container>

            <!-- endregion -->

            <!-- region only for withdrawal and deposit -->
            <ng-container *ngIf="requestModal.entryType === 'deposit'">
                <ion-item>
                    <ion-icon class="icon" slot="start" src="../../../assets/icon/copy.svg"
                              [color]="requestModal.entryType"></ion-icon>
                    <ion-label>{{ 'createEntry.withdrawalFrom' | translate }}</ion-label>
                </ion-item>

                <ion-item detail="" class="inner-item" (click)="showWithdrawalDepositAcc('withdrawal')">
                    <ion-label>{{ requestModal.transactions[0].name ? requestModal.transactions[0].name : 'Select Withdrawal A/c' }}</ion-label>
                </ion-item>

                <ion-item>
                    <ion-icon class="icon" slot="start" src="../../../assets/icon/copy.svg"
                              [color]="requestModal.entryType"></ion-icon>
                    <ion-label>{{ 'createEntry.depositTo' | translate }}</ion-label>
                </ion-item>

                <ion-item detail="" class="inner-item" (click)="showWithdrawalDepositAcc('deposit')">
                    <ion-label>{{ requestModal.baseAccountName ? requestModal.baseAccountName : 'Select Deposit A/c' }}</ion-label>
                </ion-item>
            </ng-container>
            <!-- endregion -->

            <!-- region cheque details -->
            <ng-container *ngIf="isBankAccountSelected">
                <ion-item>
                    <ion-icon class="icon" slot="start" src="../../../assets/icon/copy.svg"
                              [color]="requestModal.entryType"></ion-icon>
                    <ion-label>{{'createEntry.Reference/Cheque' | translate}} #</ion-label>
                </ion-item>

                <ion-item class="inner-item">
                    <ion-input [(ngModel)]="requestModal.chequeNumber" name="chequeNumber"
                               placeholder="{{'createEntry.Reference/Cheque' | translate}} #"></ion-input>
                </ion-item>
            </ng-container>
            <!-- endregion -->

            <!-- region multi-currency tools -->
            <ng-container *ngIf="requestModal.isMultiCurrencyAvailable">
                <ion-item>
                    <ion-icon class="icon" slot="start"
                              src="../../../../assets/icon/Switch_icon.svg" [color]="requestModal.entryType"></ion-icon>
                    <ion-label>{{'createEntry.conversionRates' | translate}}</ion-label>
                </ion-item>

                <ion-item class="inner-item">

                    <ion-item class="inner-t-list">

                        <ion-label>
                            1
                            {{ activeCurrency === 0 ? requestModal.baseCurrencyDetails.code : requestModal.foreignCurrencyDetails.code }}
                            =
                        </ion-label>

                        <ion-input class="text-box" [(ngModel)]="requestModal.exchangeRate" name="exchangeRate"
                                   type="number"></ion-input>

                        <ion-label>
                            {{ activeCurrency === 0 ? requestModal.foreignCurrencyDetails.code : requestModal.baseCurrencyDetails.code }}
                        </ion-label>

                    </ion-item>

                    <ion-item button (click)="switchExchangeRate()">
                        <ion-icon name="swap"></ion-icon>
                    </ion-item>

                </ion-item>
            </ng-container>
            <!-- endregion -->

        </ion-list>
    </form>

    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">

        <ion-fab-button (click)="createEntry()" [disabled]="entryForm.invalid || createEntryInProcess">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>

    </ion-fab>
</ion-content>
