<ion-header translucent>

    <ion-toolbar [ngClass]="requestModal?.entryType">

        <ion-buttons slot="start" (click)="goToHome()">
            <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
        </ion-buttons>

        <ion-title>
            <h3>{{ requestModal.entryType | titlecase }}</h3>
            <h4>{{ requestModal?.transactions[0]?.amount }}</h4>
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-item>
            <ion-icon class="icon" slot="start" name="calendar" [color]="requestModal.entryType"></ion-icon>
            <ion-label>
                <ion-datetime value="1990-02-19" placeholder="Select Date"
                              [(ngModel)]="requestModal.entryDate"></ion-datetime>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-icon class="icon" slot="start" name="create" [color]="requestModal.entryType"></ion-icon>
            <ion-input placeholder="Write a note" [(ngModel)]="requestModal.description"></ion-input>
        </ion-item>

        <!-- region only for sales -->
        <ng-container *ngIf="requestModal.entryType === 'sales'">

            <ion-item>
                <ion-icon class="icon" slot="start" name="copy" [color]="requestModal.entryType"></ion-icon>
                <ion-label>Receipt Mode</ion-label>
            </ion-item>

            <ion-item detail="" class="inner-item" (click)="showPaymentMode()">
                <ion-label>{{ otherPaymentMode ? otherPaymentMode.name : requestModal?.transactions[0]?.name }}</ion-label>
            </ion-item>

            <ng-container *ngIf="otherPaymentMode">
                <ion-item>
                    <ion-icon class="icon" slot="start"
                              src="../../../../assets/icon/account.svg"
                              [color]="requestModal.entryType"></ion-icon>
                    <ion-label>Debtor</ion-label>
                </ion-item>

                <ion-item detail="" class="inner-item" (click)="showAccountList('debtor')">
                    <ion-label>{{ requestModal?.transactions[0]?.name }}</ion-label>
                </ion-item>
            </ng-container>

        </ng-container>
        <!-- endregion -->

        <!-- region only for expense -->
        <ng-container *ngIf="requestModal.entryType === 'expense'">
            <ion-item>
                <ion-icon class="icon" slot="start" name="copy" [color]="requestModal.entryType"></ion-icon>
                <ion-label>Payment Mode</ion-label>
            </ion-item>

            <ion-item detail="" class="inner-item" (click)="showPaymentMode()">
                <ion-label>{{ otherPaymentMode ? otherPaymentMode.name : requestModal?.transactions[0]?.name }}</ion-label>
            </ion-item>

            <ng-container *ngIf="otherPaymentMode">
                <ion-item>
                    <ion-icon class="icon" slot="start"
                              src="../../../../assets/icon/account.svg"
                              [color]="requestModal.entryType"></ion-icon>
                    <ion-label>Creditor</ion-label>
                </ion-item>

                <ion-item detail="" class="inner-item" (click)="showAccountList('creditor')">
                    <ion-label>{{ requestModal?.transactions[0]?.name }}</ion-label>
                </ion-item>

            </ng-container>
        </ng-container>

        <!-- endregion -->

        <!-- region only for withdrawal and deposit -->
        <ng-container *ngIf="requestModal.entryType === 'deposit'">
            <ion-item>
                <ion-icon class="icon" slot="start" name="copy" [color]="requestModal.entryType"></ion-icon>
                <ion-label>Withdrawal from</ion-label>
            </ion-item>

            <ion-item detail="" class="inner-item">
                <ion-label>Cash</ion-label>
            </ion-item>

            <ion-item>
                <ion-icon class="icon" slot="start" name="copy" [color]="requestModal.entryType"></ion-icon>
                <ion-label>Deposit to</ion-label>
            </ion-item>

            <ion-item detail="" class="inner-item">
                <ion-label>Cash</ion-label>
            </ion-item>
        </ng-container>
        <!-- endregion -->

        <ion-item>
            <ion-icon class="icon" slot="start" name="code-working" [color]="requestModal.entryType"></ion-icon>
            <ion-label>Conversion Rates</ion-label>
        </ion-item>

    </ion-list>

    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">

        <ion-fab-button (click)="createEntry()">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>

    </ion-fab>
</ion-content>
