::ng-deep.inner-item {
  --inner-padding-start: 40px;

}
::ng-deep.inner-item ion-label{
  --color: black !important;
}
ion-toolbar.sales {
  --background: var(--ion-color-sales);
}

ion-toolbar.expense {
  --background: var(--ion-color-expense);
}

ion-toolbar.deposit {
  --background: var(--ion-color-deposit)
}

ion-back-button {
  --color: #fff;
}

ion-item {
  --min-height: auto;
  --highlight-height: 0;
  --inner-border-width: 0;
  --border-width: 0;
  --background: transparent;

}

ion-label {
  --color: #999999 !important;
  font-size: 14px !important;
}

.icon {
  margin-right: 15px;
}

ion-datetime {
  padding-left: 0;
}

.item-native {
  border: 0;
}

form, ion-list {
  background: #F7F8FA;
  min-height: 100%;
}



::ng-deep.main-lis {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.attachment {
  height: 60px;
  width: 60px;
  background-color: #E3E3E5;
  margin-right: 10px;

  ion-icon {
    font-size: 30px;
  }
}

.text-box {
  background-color: white;
  margin-left: 15px;
  margin-right: 9px;
  border: 1px solid gainsboro;
  text-align: end;

}

::ng-deep.text-box input {
  padding: 3px !important;
  width: 63px !important;

}

::ng-deep.inner-t-list .item-native {
  padding: 0 !important;
}

.mt-0 {
  margin-top: 0
}

.ios .header-io {
  font-size: 20px;
  margin: 0;
}

.ios .header-value-io {
  font-size: 17px;
  margin: 0;
}

.ios .mt-22-io {
  margin-top: 22px;
}

::ng-deep.btn-tran button {
  box-shadow: unset !important;
}

.attachmentImg {
  height: 61px;
  object-fit: cover;
}
