<ion-content>
  <div class="main-no-company">
    <div class="inner-container">
        <img src="./assets/nocompany-ico.svg"/>
        <ion-text>
            <h3>You need permission!</h3>
        </ion-text>
        <p>There is no company shared with the login id <a href="#" class="a-link">{{ email }}</a></p>
        <p>Ask your admin for access, or switch to an account with permission.</p>

        <ion-button class="new-btn" expand="block" (click)="login()">
            Login again
        </ion-button>
    </div>
  </div>
</ion-content>