// app header and toolbar color
::ng-deep ion-toolbar {
  --background: #0B1B46;

  ion-menu-button {
    --color: #FFFFFF;
  }

  ion-title {
    --color: #FFFFFF;
  }
}

::ng-deep .btn-success {
  --background: #e34b26;
  height: 40px;
}

.boldFont {
  font-weight: 600;
}
