.navi-list  {
  ion-item {
    --padding-start: 15px;
    border-bottom: 1px solid #E9E9E9;
    ion-icon {
      width: 15px;
    }
  }
}
.company-name {
  .branch {
    font-size: 14px;
    color: #999999;
  }
}
.company-title{
  display: flex;
  justify-content:space-between;
  width: 100%;
}
.w-100{
  width: 100%;
}
