<ion-menu side="start" menuId="first" contentId="content1">

    <ion-header>
        <ion-toolbar>

            <ion-buttons slot="start">

                <ion-button (click)="closeMenu()">
                    <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
                </ion-button>

            </ion-buttons>

            <ion-title>{{ user?.name }}</ion-title>

        </ion-toolbar>
    </ion-header>

    <ion-content>

        <ion-list  lines="none" class="navi-list">
            <ion-menu-toggle auto-hide="true">
                <ion-item class="no-padding" routerLink="/pages/home">{{ 'menu.balance' | translate }}</ion-item>
                <ion-item routerLink="/pages/home">{{ 'menu.home' | translate }}</ion-item>
                <ion-item routerLink="/pages/setting">{{ 'menu.settings' | translate }}</ion-item>

                <ion-item class="company-name" type="button" button="true">
                    <ion-label>
                        <h4><strong>{{ activeCompany?.name }}</strong></h4>
                        <p class="branch">(Branch)</p>
                    </ion-label>
                    <ion-icon src="../assets/icon/company-switcher.svg" (click)="showCompanySwitchModal()" fill="outline" slot="end"></ion-icon>
                </ion-item>

                <ion-item type="button" button="true" (click)="logout()">{{ 'menu.logout' | translate }}</ion-item>

            </ion-menu-toggle>

        </ion-list>

    </ion-content>

</ion-menu>

<ion-router-outlet id="content1"></ion-router-outlet>
