<ion-menu side="start" menuId="first" contentId="content1" type="push">

    <app-header
            [title]="'Vishal'"
    ></app-header>

    <ion-content>

        <ion-list>
            <ion-menu-toggle auto-hide="true">

                <ion-item>Balance</ion-item>
                <ion-item>Home</ion-item>
                <ion-item>Settings</ion-item>
                <ion-item>Menu Item</ion-item>
                <ion-item>Logout</ion-item>

            </ion-menu-toggle>

        </ion-list>

    </ion-content>

</ion-menu>

<ion-router-outlet id="content1"></ion-router-outlet>
