.navi-list  {
  ion-item {
    --padding-start: 0px;
    .item-inner {
      --padding-start: 0px;
      padding-left: 20px !important;
    }
    ion-icon {
      width: 15px;
    }
  }
}
.company-name {
  .branch {
    font-size: 14px;
    color: #999999;
  }
}