.navi-list  {
  ion-item {
    --padding-start: 15px;
    border-bottom: 1px solid #E9E9E9;
    ion-icon {
      width: 15px;
    }
  }
}
.company-name {
  .branch {
    font-size: 14px;
    color: #999999;
  }
}