<ion-content>

    <ion-item [color]="actionType" class="boldFont">
        <ion-text>Select {{ title }}</ion-text>
    </ion-item>

    <ion-searchbar showCancelButton="focus" debounce="500"
                   (ionChange)="searchInputChanged()" [(ngModel)]="searchModal"
                   placeholder="Search Account"></ion-searchbar>

    <ion-grid>

        <ion-row class="main-container">

            <ion-col>
                <ion-list lines="none">

                    <ion-item *ngFor="let account of filteredAccounts" class=""
                              (click)="accountSelected(account)">
                        <ion-label>
                            {{ account.name }} A/c
                        </ion-label>
                        <ion-note slot="end">$7,980</ion-note>
                    </ion-item>

                </ion-list>
            </ion-col>

            <ion-col class="ion-align-self-end">
                <ion-button expand="full" (click)="cancelModal()" color="light">Cancel</ion-button>
            </ion-col>

        </ion-row>


    </ion-grid>

</ion-content>
