<ion-content>
    <ion-list>
        <ion-list-header class="title" [color]="actionType">
            <ion-label>Select A/c</ion-label>
        </ion-list-header>

        <ion-searchbar showCancelButton="focus" debounce="500"
                       (ionChange)="searchInputChanged()" [(ngModel)]="searchModal"
                       placeholder="Search Account"></ion-searchbar>

        <ion-item *ngFor="let account of filteredAccounts" class="noline list-item" (click)="accountSelected(account)">
            <ion-label>
                {{ account.name }} A/c
            </ion-label>
            <ion-note slot="end">$7,980</ion-note>
        </ion-item>

    </ion-list>


    <ion-row align-items-center>
        <ion-col>
            <ion-button expand="full" (click)="cancelModal()" color="light">Cancel</ion-button>
        </ion-col>
    </ion-row>

</ion-content>
