.main-container {
  height: 300px;
}

ion-list ion-item {
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
}

.modal-header {
  border-bottom: 1px solid gainsboro;
}

.model-footer {
  border-top: 1px solid gainsboro;
}

::ng-deep.search-box {
  input.searchbar-input.sc-ion-searchbar-md {
    box-shadow: unset;
    border: 1px solid gainsboro;
    padding: 4px;
    padding-left: 48px;
  }
}
.scroll{
  overflow: auto;
}
.p8{
  padding: 8px;
}
