.main-page {
  display: block;
  width: 360px;
  background: #F7F8FA;
  margin: 0 auto;
}

.login {
  height: 100vh;
  padding: 30px;
  background: #fff8ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px;

  label {
    margin-bottom: 5px;
    display: block;
}
}

.form-control {
  background: #fff!important;
  border: 1px solid #d6d6d6;
  border-radius: 2px!important;
  outline: 0;
  color: rgba(0,0,0,.6);
  box-shadow: none;
  margin-bottom: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;

  &:focus {
    outline: 0;
}
}

.btn-google {
  border: 0;
  background: #5092f3;
  display: flex;
  color: #fff;
  font-size: 14px;
  padding: 0 20px 0 0;
  border-radius: 2px;
  align-items: center;
  height: 40px;
  margin-top: 40px;
  text-decoration: none;

  span {
    background-color: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #5092f3;
    width: 40px;
    justify-content: center;
    margin-right: 25px;
}

  img {
    width: 20px;
}
}
.login-form {
  width: 100%;
}
.ios .input-io{
  padding: 0px 10px !important;
}
