ion-fab-button {
  --background: #19BC9C;
}

.company-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.branch {
  font-size: 14px;
  color: #999999;
}

.head-title {
  margin-bottom: 20px;
  min-height: 34px;
}

.icon-checked {
  height: 29px;
  width: 29px;
}
