<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Switch Company</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list lines="none">

        <ion-list-header class="title">
            <ion-label color="medium">Select Company</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let company of companies" type="button" (click)="selectCompany(company.uniqueName)">

            <ion-label>
                {{ company?.name }}
            </ion-label>

            <ion-icon *ngIf="company.uniqueName === activeCompanyUniqueName" src="../assets/icon/selected-company.svg">

            </ion-icon>

        </ion-item>

    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="switchCompany()">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
