
.model-footer {
  border-top: 1px solid gainsboro;
}

::ng-deep.search-box {
  input.searchbar-input.sc-ion-searchbar-md {
    box-shadow: unset;
    border: 1px solid gainsboro;
    padding: 4px;
    padding-left: 48px;
  }
}
.scroll{
  overflow: auto;
}
.main-container {
  height: 300px;
}
ion-list {
  ion-item {
    ion-icon {
      margin-right: 15px;
    }
  }
}