/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
:root {
  --ion-color-sales: #45A7E6;
  --ion-color-sales-rgb: 69, 167, 230;
  --ion-color-sales-contrast: #000000;
  --ion-color-sales-contrast-rgb: 0, 0, 0;
  --ion-color-sales-shade: #3d93ca;
  --ion-color-sales-tint: #58b0e9;
  --ion-color-expense: #F2913B;
  --ion-color-expense-rgb: 242, 145, 59;
  --ion-color-expense-contrast: #000000;
  --ion-color-expense-contrast-rgb: 0, 0, 0;
  --ion-color-expense-shade: #d58034;
  --ion-color-expense-tint: #f39c4f;
  --ion-color-deposit: #67AA5A;
  --ion-color-deposit-rgb: 103, 170, 90;
  --ion-color-deposit-contrast: #000000;
  --ion-color-deposit-contrast-rgb: 0, 0, 0;
  --ion-color-deposit-shade: #5b964f;
  --ion-color-deposit-tint: #76b36b;
  --ion-color-selected: #19bc9c;
  --ion-color-selected-rgb: 25, 188, 156;
  --ion-color-selected-contrast: #000000;
  --ion-color-selected-contrast-rgb: 0, 0, 0;
  --ion-color-selected-shade: #16a589;
  --ion-color-selected-tint: #30c3a6;
  --ion-font-family: 'Lato' !important;
}

.ion-color-sales {
  --ion-color-base: var(--ion-color-sales);
  --ion-color-base-rgb: var(--ion-color-sales-rgb);
  --ion-color-contrast: var(--ion-color-sales-contrast);
  --ion-color-contrast-rgb: var(--ion-color-sales-contrast-rgb);
  --ion-color-shade: var(--ion-color-sales-shade);
  --ion-color-tint: var(--ion-color-sales-tint);
}

.ion-color-expense {
  --ion-color-base: var(--ion-color-expense);
  --ion-color-base-rgb: var(--ion-color-expense-rgb);
  --ion-color-contrast: var(--ion-color-expense-contrast);
  --ion-color-contrast-rgb: var(--ion-color-expense-contrast-rgb);
  --ion-color-shade: var(--ion-color-expense-shade);
  --ion-color-tint: var(--ion-color-expense-tint);
}

.ion-color-deposit {
  --ion-color-base: var(--ion-color-deposit);
  --ion-color-base-rgb: var(--ion-color-deposit-rgb);
  --ion-color-contrast: var(--ion-color-deposit-contrast);
  --ion-color-contrast-rgb: var(--ion-color-deposit-contrast-rgb);
  --ion-color-shade: var(--ion-color-deposit-shade);
  --ion-color-tint: var(--ion-color-deposit-tint);
}

.ion-color-selected {
  --ion-color-base: var(--ion-color-selected);
  --ion-color-base-rgb: var(--ion-color-selected-rgb);
  --ion-color-contrast: var(--ion-color-selected-contrast);
  --ion-color-contrast-rgb: var(--ion-color-selected-contrast-rgb);
  --ion-color-shade: var(--ion-color-selected-shade);
  --ion-color-tint: var(--ion-color-selected-tint);
}

body {
  background: #F7F8FA;
}

.p-0 {
  padding: 0 !important;
}
.text-black {
  color: #000000;
}
.mt-0 {
  margin-top: 0px;
}
.boldFont {
  font-weight: 600;
}
.overflow-hiddne {
  overflow: hidden;
}
ion-button {
  text-transform: none !important;
}

.w350 {
  --min-width: 330px;
}

.toggle-btn {
  padding: 10px;
  cursor: pointer;
  width: 18px;
}
.btn-text {
  font-size: 16px;
  --ion-color-base: #19BC9C;
  font-weight: 600;
}
.btn-text-gray {
  font-size: 16px;
  --ion-color-base: #999999;
  font-weight: 600;
}
::ng-deep.toolbar-container {
  align-items: self-start !important;
}

app-layout.ion-page {
  max-width: 360px;
  margin: 0 auto;
  border: 1px solid #ececec;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}