<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title size="large">
          <span class="title-io">  {{ 'menu.home' | translate | uppercase }}</span>
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content class="home-container">
    <div class="ion-padding home-s">
        <ion-icon  src="../../../../assets/icon/home-icon.svg"></ion-icon>
        <h2>Record Transactions</h2>
        <ion-label>Lorem Ipsum dummy text dummy Lorem ipsum Lorem Ipsum dummy text dummy Lorem ipsum.</ion-label>
        <div class="w-100">
            <ion-button class="home-btn" (click)="openSelectActionModal()">New Transaction</ion-button>
        </div>
    </div>

<!--    <ion-fab vertical="bottom" horizontal="end" slot="fixed">-->
    <!--        <ion-fab-button (click)="openSelectActionModal()">-->
    <!--            <ion-icon name="add"></ion-icon>-->
    <!--        </ion-fab-button>-->
    <!--    </ion-fab>-->
</ion-content>
