<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="toggleMenu()">
            <!-- <ion-menu-button></ion-menu-button> -->
            <ion-icon class="toggle-btn" src="../../../../assets/icon/nav-toggle.svg" color="light"></ion-icon>
        </ion-buttons>

        <ion-title class="boldFont" size="large">
            <span class="title-io" *ngIf="!reportResponse?.length"> {{ 'menu.home' | translate }}</span>
            <span class="title-io" *ngIf="reportResponse?.length"> {{ reportRequestModal.totalItems }}
                {{ 'home.title' | translate }}</span>
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content class="home-container">

    <ng-container *ngIf="reportResponse?.length">
        <ion-list class="all-entries">

            <div *ngFor="let item of reportResponse">

                <div class="data-date">
                    <strong>{{ item.entryDate | date: 'dd MMM, yy' }}</strong>
                    <span>
                        <strong class="middle">{{ companyCurrencySymbol }} {{ item.totalClosingBalance }}</strong>
                        <ion-icon class="expaned middle pl-1" src="../../assets/icon/expand-2.svg"
                            (click)="showBalanceDetailsPopup(item)"></ion-icon>
                    </span>
                </div>

                <ion-card class="d-card" *ngFor="let entry of item.entries">

                    <div class="cardHeader">
                        <div class="">
                            <ion-icon class="middle" [color]="entry.entryType" [src]="entry.statusIcon"></ion-icon>
                            <ion-text class="middle pl-05" [color]="entry.entryType">
                                <strong> {{ entry.baseAccount.name }}</strong></ion-text>
                        </div>

                        <span>
                            <ion-icon class="middle" [src]="entry.entryTypeIcon" *ngIf="entry.entryTypeIcon"></ion-icon>
                            &nbsp;
                            <span class="middle">{{ entry.currencySymbol }} {{ entry.amount }}</span>
                        </span>
                    </div>

                    <ion-card-content>
                        {{ entry.description }}
                    </ion-card-content>

                    <div class="img-container item-image" *ngIf="entry.fileNames && entry.fileNames.length">
                        <div class="inner-img" *ngFor="let file of entry.fileNames">
                            <ion-img [src]="file"></ion-img>
                        </div>
                    </div>

                    <div class="card-footer" *ngIf="entry.showCreatedBy">
                        <ion-icon class="middle pr-05" src="../../assets/icon/user-account.svg"></ion-icon>
                        <span class="middle">{{ entry.createdBy.name }}</span>
                    </div>

                </ion-card>

            </div>

        </ion-list>
    </ng-container>

    <ion-infinite-scroll (ionInfinite)="pageChanged()" [hidden]="!reportResponse?.length">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div class="ion-padding home-s" *ngIf="!reportResponse?.length">
        <ion-icon src="../../../../assets/icon/home-icon.svg"></ion-icon>
        <h2>Record Transactions</h2>
        <ion-label>Track your small expenses and stay on top of your finances!</ion-label>
        <div class="w-100">
            <ion-button class="home-btn" (click)="openSelectActionModal()">New Transaction</ion-button>
        </div>
        <div class="w-100" >
        <ion-button    class="home-btn"  (click)="takePhoto()" color="primary" clear>Take Photo</ion-button>
       </div>
       <div class="w-100" >
        <ion-button   class="home-btn"  (click)="getPhoto()" color="primary" clear>Select from gallery</ion-button>
       </div>
        <p style="text-align:center">
            <img src="{{myPhoto}}">
        </p>
        <button ion-button (click)="sendImageForReview()">Upload
            <ion-icon name="Upload-Image"></ion-icon>
        </button>

        <div class="w-100">
            <ion-button class="home-btn" (click)="extract()">Extract image data</ion-button>
        </div>
    </div>

    <ion-fab class="icon-feb" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openSelectActionModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>