<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start" (click)="toggleMenu()">
            <!-- <ion-menu-button></ion-menu-button> -->
            <ion-icon class="toggle-btn" src="../../../../assets/icon/nav-toggle.svg" color="light"></ion-icon>
        </ion-buttons>

        <ion-title size="large">
            <span class="title-io"> {{ 'menu.home' | translate }}</span>
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content class="home-container">

    <ion-list>

        <div *ngFor="let item of reportResponse">

            <div class="data-date">
                <strong>{{ item.entryDate | date: 'dd MMM, yy' }}</strong>
                <strong>{{ item.totalClosingBalance }}</strong>
            </div>

            <ion-card class="d-card" *ngFor="let entry of item.entries">

                <div class="cardHeader">
                    <ion-text [color]="entry.entryType"><strong>{{ entry.baseAccount.name }}</strong></ion-text>
                    <div>
                        <span>{{ entry.currencySymbol }}{{ entry.amount }}</span>
                    </div>
                </div>

                <ion-card-content>
                    {{ entry.description }}
                </ion-card-content>

                <div class="img-container" *ngIf="entry.fileNames">

                    <div *ngFor="let file of entry.fileNames">

                        <ion-img [src]="file"></ion-img>

                    </div>

                </div>

                <div class="card-footer" *ngIf="entry.createdBy">
                    <ion-icon src="../../assets/icon/account.svg"></ion-icon>
                    <span>{{ entry.createdBy.name }}</span>
                </div>

            </ion-card>

        </div>

    </ion-list>

    <ion-infinite-scroll>
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <!--    <div class="ion-padding home-s">-->
    <!--        <ion-icon src="../../../../assets/icon/home-icon.svg"></ion-icon>-->
    <!--        <h2>Record Transactions</h2>-->
    <!--        <ion-label>Lorem Ipsum dummy text dummy Lorem ipsum Lorem Ipsum dummy text dummy Lorem ipsum.</ion-label>-->
    <!--        <div class="w-100">-->
    <!--            <ion-button class="home-btn" (click)="openSelectActionModal()">New Transaction</ion-button>-->
    <!--        </div>-->
    <!--    </div>-->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openSelectActionModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
