.home-container {
  ion-fab-button {
    --background: #19BC9C;
  }
}

::ng-deep.select-action-popover {
  --min-width: 330px !important;
  --max-width: 330px !important;
}

.ios .title-io {
  padding-left: 30px;
  font-size: 16px;
}

.home-s {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 41px;
  background-color: #F7F8FA;

  ion-label {
    color: #999999;
    font-size: 14px;
    text-align: center;
    margin-bottom: 16px;

  }

  h2 {
    font-size: 24px;
    color: #333333;
  }
}

.home-s ion-icon {
  height: 70px;
  width: 70px;
}

::ng-deep.home-btn {
  width: 100%;
  height: 44px;
  font-size: 20px;
  --background: #19BC9C;

  &:hover {
    --background-hover: #128670 !important;
  }
}

.w-100 {
  width: 100%;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 9px 16px 0;
}

.cardHeader strong {
  font-size: 16px;
}

.cardHeader span {
  color: #333333;
  font-size: 16px;
}

.d-card {
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 0 !important;
  margin-top: 0 !important;
  border: 0px;
  box-shadow: 0px 3px 5px #1717171a;
}

.d-card ion-card-content {
  color: #999999 !important;
  font-size: 13px !important;
  padding: 7px 16px !important;
}
.inner-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
}
.img-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 0 16px 10px;

  ion-img {
    height: 70px;
    width: 70px;
    margin-right: 10px;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 40px;
      width: 40px;
    }
  }
}

.card-footer {
  padding: 0 16px 10px;

  span {
    color: #999999;
    font-size: 14px;
  }
}

.data-date {
  display: flex;
  justify-content: space-between;
  padding: 9px 16px;
  background: #F7F8FA;
  strong {
    color: #999999;
    font-size: 16px;
  }
}
.all-entries {
  padding: 0;
}
.expaned {
  width: 13px;
}
.icon-feb {
  bottom: 30px;
}
ion-card:last-child {
  margin: 0px;
}

.no-entry {
  margin-top: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  label {
    color: #908989;
    font-size: 16px;
  }
}
